#usersH1 {
    position: fixed;
    top: 10%;
    left: 5%;
}

#newButton {
    position: fixed;
    top: 12.5%;
    right: 5%;

    height: 5%;
    width: 10%;

    background-color: #6ac6d9;
    color: white;
}

#usersDiv {
    position: fixed;
    top: 20%;
    height: 70%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

table {
    width: 100%;
}

tr {
    width: 100%;
}

th {
    text-align: center;
}

td {
    width: 25%;

    text-align: center;
}
