h1 {
    position: fixed;
    top: 45%;

    height: 5%;
    width: 100%;

    text-align: center;
}

h2 {
    position: fixed;
    top: 55%;

    height: 5%;
    width: 100%;

    text-align: center;
}
