.header {
    overflow: hidden;
    background-color: #6ac6d9;
    height: 10%;
    padding: 20px 10px;
}

.header .right {
    float: right;
    text-align: center;
}

.header .right a {
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;

    color: white;
    font-size: 24px;
    text-decoration: none;
}

#iopValue {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-size: 24px;
}
