.single-input-number-primary {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background: #6ac6d93d;
    padding: 0 5px;
}

.about-ordered-list {
    background: #fff;
    padding: 30px 0;
}

#qrcode {
    width: 190px;
    height: 190px;
    margin-top: 15px;
}

.table tbody tr>td.success {
    background-color: #acf19182 !important;
    padding: 5px;
}

.table tbody tr>td.cancel {
    background-color: #e77474a8 !important;
    padding: 5px;
}

.table tbody tr>td.active {
    background-color: #fff !important;
    padding: 5px;
}



.primary-btn {
    background-color: #6ac6d9;
    line-height: 36px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
  }
  
  .primary-btn:focus {
    outline: none;
  }
  
  .primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .primary-btn:hover {
    color: #fff;
  }
  
  .primary-btn:hover span {
    color: #fff;
    right: 20px;
  }
  
  .primary-btn.white {
    border: 1px solid #fff;
    color: #fff;
  }
  
  .primary-btn.white span {
    color: #fff;
  }
  
  .primary-btn.white:hover {
    background: #fff;
    color: #6ac6d9;
  }
  
  .primary-btn.white:hover span {
    color: #6ac6d9;
  }

.primary-btn {
    background: #fff;
    border: 1px solid transparent;
    color: #222;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
  }
  
  .primary-btn:hover {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
  }


  .single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #6ac6d92e;
    padding: 0 20px;
  }
  
  .single-input:focus {
    outline: none;
  }
  .input-group-icon .single-input {
    padding-left: 45px;
  }
  
  .single-input-primary:focus {
    outline: none;
    border: 1px solid #6ac6d9;
  }

  .logo {
    display: block;
    width: 123px;
    height: 30px;
    background-color: blue;
  }